.tree
    margin-top: 10px

.tree-title
    font-weight bold
    font-size medium
    color #777777

.tree-code
    margin 10px 0
    white-space pre-wrap

.ui-sidebar
    background-color #fff
    width 280px
    height 100%
    padding 2rem
    position absolute
    border-right 0.2rem solid #efefef
    font-size 14px
    z-index 100

.ui-sidebar ul li
    position relative
    padding-top 5px
    padding-bottom 5px
    box-sizing border-box

#file,
#folder
    cursor pointer

#folder:hover,
#file:hover
    color #337ab7

#folder-title
    text-transform capitalize

.file-tree
    margin 0
    padding 0
    list-style none
    max-height 100%
    overflow-y auto

.file-tree-item
    display block
    padding 0.5rem 1rem

.file-tree-subtree
    margin 0.5rem 1rem 0 3.5rem
    padding 0
    list-style none

file-tree-subtree-item
    padding 0.3333333333rem 0
    font-size 0.875rem
    max-width 100px

.glyphicon
    margin-right 0.7rem

.glyphicon-folder-open,
.glyphicon-folder-close
    color #337ab7

.glyphicon-file
    color: #c298cf;

.open
    font-weight bold

.folder-closed
    display none

.folder-open
    display inline-block

.item-name
    text-overflow ellipsis;
    white-space nowrap;
    overflow hidden

#sidebar-button
    font-weight bold
    width 280px
    position relative
    z-index 100

#sidebar-button .s-panel-title
    text-align left

#sidebar-button .s-panel-controls
    float right

#pdf-modal
    height 800px

.grid-container
    display grid
    grid-template-columns auto auto auto

.grid-item
    padding 2px

#copy-patient-id-button
    margin-top 10px
    height 77px

.copy-message
    display none
